aiohttp==3.7.4.post0
async-timeout==3.0.1
asyncio==3.4.3
attrs==21.2.0
certifi==2021.5.30
chardet==3.0.4
h11==0.8.1
h2==3.2.0
hpack==3.0.0
http3==0.6.7
httpcore==0.13.2
httpx==0.18.1
hyperframe==5.2.0
idna==2.10
multidict==5.1.0
requests==2.25.1
requests-async==0.6.2
rfc3986==1.5.0
sniffio==1.2.0
typing-extensions==3.10.0.0
urllib3==1.26.5
yarl==1.6.3
